/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-lug-2014, 13.15.02
    Author     : unieuro
*/

#sale-img {
    padding: 0px;
    background: url('../images/sale.jpeg') no-repeat;
    background-size: contain;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
}

#sale-img #img {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-weight: bold;
    font-size: large;
    color: whitesmoke;
    transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
}

.show-sale {
    padding: 2px;
}

.show-sale  p {
    margin: 20px 0 0 0 
}

.label-success {
    font-size: large;
}